<div class="diagram-container">
  <gojs-palette
    #myPalette
    [initPalette]="initPalette"
    divClassName="diagram-container__palette"
    [nodeDataArray]="paletteNodeData"
  ></gojs-palette>
  <gojs-diagram
    [nodeDataArray]="diagramData?.nodes || []"
    [linkDataArray]="diagramData?.links || []"
    [modelData]="diagramData?.model || {}"
    [initDiagram]="initDiagram"
    [skipsDiagramUpdate]="skipsDiagramUpdate"
    (modelChange)="diagramModelChange($event)"
    divClassName="diagram-container__diagram"
  ></gojs-diagram>
</div>
<div class="diagram-toolbar">
  <button class="diagram-toolbar__button" (click)="addFromExternal()">Add</button>
  <button class="diagram-toolbar__button" (click)="editExitingNodeStatus()">Next status</button>
</div>
